@import "font.css";

/* common settings */
* {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h2, h3, p, span {
  letter-spacing: 1px;
}

.product h1 {
  font-family: "Evogria";
  font-size: 48px;
}

.items h2 {
  font-size: 36px;
}

.items h3 {
  font-size: 24px;
}

.items p {
  font-size: 60px;
}

.product {
  color: #FFF;
  background-image: url(../img/bg.png);
  text-align: center;
  background-size: cover;
  background-position: center;
  padding-bottom: 150px;
  min-height: 100vh;
}

.product__title {
  padding-top: 170px;
}

.items {
  font-family: "Bebas Neue Regular";
  font-weight: 900;
  position: relative;
  z-index: 1;
}

.items::before {
  content: "";
  position: absolute;
  background: url(../img/doska2.png);
  height: 20px;
  z-index: 10;
}

.items__card::before {
  content: "";
  position: absolute;
  background: url(../img/doska3.png);
  height: 25px;
  z-index: 10;
  display: none;
  left: 0%;
  width: 550px;
}

.items__card {
  padding-top: 90px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%, rgba(0, 0, 0, 0.1));
}

.items__card:nth-child(2), .items__card:nth-child(3) {
  margin: 0 15px;
}

.items__card:last-child {
  margin-right: 10px;
  margin-left: 10px;
}

.items__card:first-child {
  margin-left: 10px;
  margin-right: 10px;
}

.item__img {
  padding: 25px 40px 45px;
}

.item__prise {
  text-align: left;
  padding: 22px 0 30px 50px;
  position: relative;
}

.item__order {
  padding-bottom: 40px;
}

.item__prise::before {
  content: "19.00$";
  position: absolute;
  font-size: 24px;
  top: 18%;
  left: 65%;
  text-decoration: line-through;
}

.shop__cart {
  width: 60px;
  height: 45px;
  background-color: transparent;
  border-radius: 23px;
  border: 3px solid #FFF;
  overflow: hidden;
  transition: 1.5s;
  cursor: pointer;
}

input:active, :hover, :focus {
  outline: 0 !important;
  outline-offset: 0;
}

.icon {
  width: 20px;
  height: 20px;
}

.btn__hover_bar {
  background: linear-gradient(rgba(255, 255, 255, 255), rgba(204, 204, 204, 204));
  width: 200px;
  height: 50px;
  margin-top: -50px;
  transform: rotate(40deg);
  margin-left: -180px;
  opacity: 0.3;
  transition: 1.5s;
}

.shop__cart:hover .btn__hover_bar {
  margin-left: 180px;
}

.item__shop {
  padding-left: 35px;
}

/* scrollbar */
::-webkit-scrollbar-button {
  background-image: url('');
  background-repeat: no-repeat;
  width: 5px;
  height: 0px
}

::-webkit-scrollbar-track {
  background-color: transparent;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-resizer {
  background-image: url('');
  background-repeat: no-repeat;
  width: 4px;
  height: 0px
}

::-webkit-scrollbar {
  width: 4px;
}

.owl-dots {
  display: flex;
}

.owl-dot {
  padding: 5px;
  background: transparent;
  border: 3px solid #fff;
  border-radius: 10px;
  width: 20px;
  height: 15px;
  margin: 20px 5px 20px 5px;
}

.owl-dot.active {
  background: #FFF;
}

/* media */
@media (max-width: 767.98px) {
  .items::before {
    display: none;
  }
}

/* iphone SE 5*/
@media (min-width: 320px) and (max-width: 328px) {
  .items__card::before {
    display: block;
    top: 57.5%;
  }
}

/*  iphone 6/7/8  Iphone X */
@media (width: 375px) {
  .items__card::before {
    display: block;
    top: 61.5%;
  }
}

/* Galaxy S5 MotoG4 */
@media (width: 360px) {
  .items__card::before {
    display: block;
    top: 60%;
  }
}

/* Pixel2XL Pixel2*/
@media (width: 411px) {
  .items__card::before {
    display: block;
    top: 63%;
  }
}

/* iphone 6/7/8 Plus */
@media (width: 414px) {
  .items__card::before {
    display: block;
    top: 64%;
  }
}

@media (width: 425px) {
  .items__card::before {
    display: block;
    top: 65%;
  }
}

@media (min-width: 544px) and (max-width: 767.98px) {
  .items__card::before {
    display: block;
    top: 70.5%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .items::before {
    width: 700px;
    top: 50%;
    left: -1%;
    display: block;
  }

  .items h3 {
    font-size: 20px;
  }

  .items p {
    font-size: 35px;
  }

  .item__prise::before {
    font-size: 20px;
    top: 18%;
    left: 65%;
  }

  .item__prise {
    padding: 22px 0 5px 25px;
  }

  .item__order {
    padding-bottom: 20px;
  }

  .item__shop {
    padding-left: 10px;
  }

  .product {
    padding-bottom: 180px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .items h3 {
    font-size: 20px;
  }

  .items p {
    font-size: 40px;
  }

  .items::before {
    width: 930px;
    top: 55%;
    left: 0;
    display: block;
  }
}

@media (min-width: 1200px) {
  .items::before {
    width: 1110px;
    top: 57%;
    left: 0;
    display: block;
  }
}
